node_modules/
dist/
*.tsbuildinfo
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
backend.hcl
.build/
*.tfvars
!*.tfvars.example

# env/secrets
.env
.env.*
!.env.example
